:root{
    --page-dimensions: 900px;

}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.container{
    display: flex;
    flex-wrap: wrap;
    width: var(--page-dimensions);
    height: var(--page-dimensions);

    
}

.grid{
    box-sizing: border-box;
    width: var(--box-sizing); /*--box-sizing defined in script.js | --page-dimensions / gridSize |*/
    height: var(--box-sizing);
    border: 1px solid black;
    margin: 0.5px;
}

button{
    width: auto;
    height: 30px;
    font-size: 20px;
    margin: 10px 10px;
}